<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Youtube downloader</title>
</head>

<body class="bg-gray-900 text-white flex flex-col" style="height: 100vh;">
    <header class="py-6 bg-gray-800 flex justify-center">
        <h1 class="text-3xl">Youtube Downloader</h1>
    </header>

    <main class="flex-1"><%- body %></main>

    <footer class="py-1 bg-gray-800 flex justify-center">
        <a href="https://github.com/sbaskoy">
            <h1>Salim Baskoy</h1>
        </a>
    </footer>
</body>

</html>