<div class="w-full h-full flex justify-center items-center">

    <form class="w-[90%] md:w-[70%] lg:w-1/3 py-20  bg-gray-700 rounded-lg px-6 gap-5 flex flex-col" method="post"
        action="/download">
        <div class="w-full">
            <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                File Type
            </label>
            <fieldset class="flex gap-5">
                <legend class="sr-only">Type</legend>

                <div class="flex items-center mb-4">
                    <input id="country-option-1" type="radio" name="type" value="video"
                        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                        checked>
                    <label for="country-option-1"
                        class="block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300">
                        Video
                    </label>
                </div>

                <div class="flex items-center mb-4">
                    <input id="country-option-2" type="radio" name="type" value="audio"
                        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                    <label for="country-option-2"
                        class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Ses ( mp3)
                    </label>
                </div>
            </fieldset>
        </div>

        <div class="w-full">
            <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Quality
            </label>
            <fieldset class="flex gap-5">
                <legend class="sr-only">Quality</legend>

                <div class="flex items-center mb-4">
                    <input id="country-option-1" type="radio" name="quality" value="highest"
                        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                        checked>
                    <label for="country-option-1"
                        class="block ms-2  text-sm font-medium text-gray-900 dark:text-gray-300">
                        Highest
                    </label>
                </div>

                <div class="flex items-center mb-4">
                    <input id="country-option-2" type="radio" name="quality" value="lowest"
                        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                    <label for="country-option-2"
                        class="block ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Lowest
                    </label>
                </div>
            </fieldset>
        </div>

        <div class=" w-full">
            <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Youtube video url
            </label>

            <input type="text" id="email-address-icon" name="url"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="https://www.youtube.com/shorts/ybq9FjNs-Jg">

        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Download
        </button>
    </form>

</div>